body{
    color: black;
    font-family: times new roman;
    margin: 5px 30px;

}


p{
    color: black;
    font-family: times new roman;
    margin: 5px 30px;

}

h1{
    color: red;
    font-family: 'Wallpoet', cursive;

}
